{% extends "base.html" %} 
{% block page %}

<div
    id="editorjs"
    class="p-5"
    style="max-width: 70%; margin-left: auto; margin-right: auto"></div>
</div>
<script src="/static/js/common-editor.js"></script>
<script>
    const testContent = JSON.parse('{{ test_content|tojson }}');
    console.log("RO", '{{read_only}}')
    editor = new EditorJS({
        holder: 'editorjs',
        autofocus: true,
        readOnly: '{{read_only}}' === 'true',
        tools: main_tools,
        data: testContent,
    });
</script>

{% endblock %}
