project_id          = "your-project-id"
deletion_protection = false
automation_bucket = {
  name     = "your-automation-bucket-name"
  location = "your-location"
}
automation_sa_name = "your-automation-sa-name"
