# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


deletion_protection      = true
create_automation_sa     = true
create_automation_bucket = true
enable_apis              = true


project_id = "your-project-id"

automation_bucket = {
  name = "your-automation-bucket-name"
  location = "the-location-for-your-bucket"
}

automation_sa_name = "your-automation-sa-name"

services = [
  "accesscontextmanager.googleapis.com",
  "artifactregistry.googleapis.com",
  "cloudbuild.googleapis.com",
  "cloudkms.googleapis.com",
  "cloudresourcemanager.googleapis.com",
  "container.googleapis.com",
  "compute.googleapis.com",
  "container.googleapis.com",
  "iam.googleapis.com",
  "iamcredentials.googleapis.com",
  "serviceusage.googleapis.com",
  "sourcerepo.googleapis.com",
  "stackdriver.googleapis.com",
  "storage-component.googleapis.com",
  "storage.googleapis.com",
  "sts.googleapis.com"
  "bigquery.googleapis.com",
  "pubsub.googleapis.com"
]

roles = [
  "roles/iam.securityAdmin",
  "roles/iam.serviceAccountAdmin",
  "roles/compute.networkAdmin",
  "roles/container.admin",
  "roles/iam.serviceAccountUser",
  "roles/storage.admin",
  "roles/artifactregistry.admin",
  "roles/pubsub.editor",
  "roles/bigquery.admin"
]


