setuptools==72.1.0
chromadb==0.5.5
dependency-injector==4.41.0
fastapi==0.112.0
func-timeout==4.3.5
GitPython==3.1.43
google-cloud-aiplatform==1.60.0
google-cloud-bigquery[pandas]
google-cloud-discoveryengine==0.12.0
google-cloud-documentai==2.30.0
google-cloud-storage==2.18.0
google-generativeai==0.7.2
gradio==3.50.2
json5==0.9.25
langchain==0.1.16
langchain-community==0.0.33
langchain-openai==0.1.3
langchainhub==0.1.15
markdownify==0.13.1
nest-asyncio
pandas==2.2.2
protobuf
pyarrow==17.0.0
pysqlite3-binary
pytest
python-docx==1.1.2
python-dotenv==1.0.1
redis
tqdm
uvicorn
pylint