mat-icon {
  vertical-align: bottom;

}
.app-sidenav {
  font-family: Google Sans Text;
  font-size: 14px;
    width: 200px;
  }
  .app-sidenav mat-list-item {
    cursor: pointer;

    }

     .active {
      background-color: #E8F0FE      ;
      border-radius: 25px;
      color: #4D88FF;
    }



