 GCS_BASE_CHECKPOINT_PATH=gs://<PATH_TO_LLAMA_7B_CHECKPOINT>
 GCS_PAX_CHECKPOINT_PATH=gs://<OUTPUT_PATH_TO_LLAMA_7B_PAX_CHECKPOINT>
 KSA=<KSA_NAME>
 ARGS=--model-size=7b
 CHECKPOINT_FOLDER_NAME=checkpoint_00000000
 CONV_MODULE=convert_llama_ckpt