# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

deletion_protection      = true
project_id               = "your-project-id"
region                   = "us-central2-b"
prefix                   = "prefix"
create_artifact_registry = "false"

cpu_node_pools = {
  cpu-node-pool = {
    zones = ["us-central2-a"]
    labels = {
      default-node-pool = true
    }
  }
}

tpu_node_pools = {
  tpu-v5litepod-4-node-pool-1 = {
    zones    = ["us-west1-c"]
    tpu_type = "v5litepod-4"
  }

  tpu-v5litepod-16-node-pool-2 = {
     zones    = ["us-west1-c"]
     tpu_type = "v5litepod-16"
  }
}

tensorboard_config = {
  region = "us-central1"
}